* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Proxima Nova';
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

body main {
  margin-top: 25px;
  width: 100%;
}

body main .main__wrapper {
  width: 100%;
}

body main .main__wrapper .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main__wrapper .container .welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main__wrapper .container .welcome h2 {
  font-family: 'mypro';
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

body main .main__wrapper .container .welcome p {
  padding: 10px 0;
}

body main .main__wrapper .container .welcome p.yellow {
  margin-top: 30px;
  background-color: #ffde00;
  font-family: 'pronoreg';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}

body main .main__wrapper .container .welcome p.info {
  margin-top: 30px;
  font-size: 12px;
  line-height: 22px;
  font-family: 'Arial';
  font-weight: bold;
  text-align: center;
  width: 765px;
}

body main .main__wrapper .container .line {
  margin-top: 40px;
  height: 1px;
  background-color: black;
  width: 320px;
}

body main .main__wrapper .container .selecttab {
  width: 100%;
  margin-top: 40px;
}

body main .main__wrapper .container .selecttab .selector {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .main__wrapper .container .selecttab .selector a {
  text-decoration: none;
  margin: 10px;
  font-family: 'mypro';
  font-size: 16px;
  line-height: 30px;
  color: #898989;
  -webkit-transition: 0.65s;
  transition: 0.65s;
}

body main .main__wrapper .container .selecttab .selector a.active {
  color: black;
}

body main .main__wrapper .container .selecttab .selector a:hover {
  color: black;
}

body main .main__wrapper .container .selecttab .content {
  width: 100%;
}

body main .main__wrapper .container .selecttab .content .content__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 35px 0;
}

body main .main__wrapper .container .selecttab .content .content__row:nth-child(1) {
  margin-top: 10px;
}

body main .main__wrapper .container .allwork {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main__wrapper .container .allwork p {
  font-family: 'mypro';
  line-height: 30px;
  font-size: 16px;
}

body main .main__wrapper .container .allwork .downarrow {
  width: 15px;
  margin: 15px 0;
}

body main .main__wrapper .container .allwork .downarrow .img {
  width: 100%;
  cursor: pointer;
}

body main .main__wrapper .container .allwork .downarrow .img img {
  width: 15px;
  -webkit-animation: animScrolldown 1.5s infinite;
          animation: animScrolldown 1.5s infinite;
}

body main .main__wrapper .container .line {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 20px 0;
}

.box {
  width: 32%;
  cursor: pointer;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.box:hover {
  background: rgba(0, 0, 0, 0.9);
}

.box:hover .logo .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box:hover .text .title p {
  color: #ffde00;
}

.box:hover .text .text__line {
  background-color: white;
}

.box:hover .text .textbox {
  color: #ffde00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.box .logo {
  width: 100%;
  height: 190px;
}

.box .logo .img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.box .logo .img img {
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  height: 100%;
}

.box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.box .text .title {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

.box .text .title p {
  width: 100%;
  font-family: 'pronoreg';
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.box .text .text__line {
  margin: 8px 0;
  width: 16px;
  height: 3px;
  background-color: #ffde00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.box .text .textbox {
  font-family: 'pronoreg';
  font-size: 16px;
  line-height: 25px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
/*# sourceMappingURL=layouts.css.map */