nav{
    margin-top:20px;
    width: 100%;
    .navbar__wrapper{
        width: 100%;
        .container{
            width: 100%;
            .navbar{
                display:flex;
                justify-content: space-between;
                align-items: center;
                .left__navbar{
                    
                }
                .middle__navbar{
                    display:flex;
                }
                .right__navbar{
                    
                }
            }
            .line{
                margin-top:8px;
                height: 1px;
                width: 100%;
                background-color: black;
            }
        }
    }
}
*{
	box-sizing: border-box;
}
.navbar__item{
    a{
        font-size: 15px;
        line-height: 30px;
        font-family: 'mypro';
        text-decoration: none;
        color:black;
        padding:15px;
        text-transform: uppercase;
    }
}