nav{
    margin-top:20px;
    width: 100%;
    .navbar__wrapper{
        width: 100%;
        .container{
            width: 100%;
            .navbar{
                display:flex;
                justify-content: space-between;
                align-items: center;
                .left__navbar{
                    
                }
                .middle__navbar{
                    display:flex;
                    .navbar__item{
                        a{
                            padding:15px 30px;
                        }
                    }
                }
                .right__navbar{
                    
                }
            }
            .line{
                margin-top:8px;
                height: 1px;
                width: 100%;
                background-color: black;
            }
        }
    }
}
*{
	box-sizing: border-box;
}
.navbar__item{
    
    a{
        font-size: 16px;
        line-height: 30px;
        font-family: 'mypro';
        text-decoration: none;
        color:black;
        padding:15px 10px;
        text-transform: uppercase;
        position: relative;
        &::after{
            display:flex;
            content:'';
            position: absolute;
            top:75%;
            left:50%;
            transform: translateX(-50%);
            height: 2px;
            background-color: black;
            width: 0;
            transition: 0.5s;
        }
        &:hover{
            &::after{
                width: 80%;
            }
        }
       
    }
}