body {
    width: 100%;
    .maindetailstudio {
        width: 100%;
        margin: 0;
        .maindetailstudio__wrapper {
            width: 100%;
            .container {
                width: 100%;
                .backtoall__wrapper {
                    display: flex;
                    justify-content: flex-end;
                    padding: 25px 0;
                    width: 100%;
                    .backtoall {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        p {
                            font-family: "pronoreg2";
                            font-size: 15px;
                        }
                        &:hover {
                            .img {
                                .img1 {
                                    transform: translate(-200%, -50%) scale(0);
                                }
                                .img2 {
                                    transform: translate(-50%, -50%) scale(1);
                                }
                            }
                        }
                        .img {
                            display: flex;
                            width: 40px;
                            height: 20px;
                            position: relative;
                            overflow: hidden;
                            transform: translateX(35%);
                            .img1 {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 20px;
                                height: 20px;
                                transform: translate(-50%, -50%) scale(1);
                                transition: 0.5s cubic-bezier(0.95, 0.22, 0.03, 0.79);
                            }
                            .img2 {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 20px;
                                height: 20px;
                                transform: translate(100%, -50%) scale(0);
                                transition: 0.5s cubic-bezier(0.95, 0.22, 0.03, 0.79);
                            }
                        }
                    }
                }

                .image__detailstudio {
                    width: 100%;
                    height: 477px;
                    .slider {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .slider__wrapper {
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            overflow: hidden;
                            .slider__item {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .info__detailstudio {
                    width: 100%;

                    .info__wrapper {
                        display: flex;
                        height: 120px;
                        .index {
                            width: 160px;
                            height: 100%;
                            padding: 0 20px;
                            .index__wrapper {
                                display: flex;
                                height: 100%;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                background-color: #ffde00;
                                p {
                                    font-family: "mypro";
                                    line-height: 20px;
                                    font-size: 14px;
                                }
                                h2 {
                                    font-family: "dinbold";
                                    font-size: 61px;
                                    line-height: 62px;
                                    letter-spacing: 0.04em;
                                }
                            }
                        }
                        .info__dimens {
                            width: 220px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            padding-top: 20px;
                            align-items: center;
                            p {
                                font-family: "pronoreg2";
                                font-size: 15px;
                                line-height: 30px;
                                letter-spacing: 0.02em;
                            }
                        }
                        .info__download {
                            width: 220px;
                            height: 100%;
                            display: flex;
                            cursor: pointer;
                            padding-top: 20px;
                            justify-content: center;
                            p {
                                font-family: "pronoreg2";
                                font-size: 15px;
                                line-height: 30px;
                                letter-spacing: 0.02em;
                                position: relative;
                                overflow: hidden;
                                &::after {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    left: 0;

                                    background-color: black;
                                    transform: translateX(-100%);
                                    transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                }
                            }
                            &:hover {
                                p {
                                    &::after {
                                        transform: translateX(0%);
                                    }
                                }
                                .img {
                                    img {
                                        transform: translateX(5px);
                                    }
                                }
                            }
                            .img {
                                margin: 0 10px;
                                width: 25px;
                                img {
                                    width: 100%;
                                    transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                }
                            }
                        }
                        .info__fullscreen {
                            width: 160px;
                            height: 100%;
                            display: flex;
                            cursor: pointer;
                            padding-top: 20px;
                            justify-content: center;

                            p {
                                font-family: "pronoreg2";
                                font-size: 15px;
                                line-height: 30px;
                                letter-spacing: 0.02em;
                                position: relative;
                                overflow: hidden;
                                &::after {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    left: 0;

                                    background-color: black;
                                    transform: translateX(-100%);
                                    transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                }
                            }
                            &:hover {
                                p {
                                    &::after {
                                        transform: translateX(0%);
                                    }
                                }
                                .img {
                                    img {
                                        transform: translateX(5px);
                                    }
                                }
                            }
                            .img {
                                margin: 0 10px;
                                width: 25px;
                                img {
                                    width: 100%;
                                    transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                }
                            }
                        }
                        .info__control {
                            height: 40px;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 30px;
                            .prev {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                p {
                                    font-family: "pronoreg2";
                                    font-size: 15px;
                                    line-height: 30px;
                                    letter-spacing: 0.02em;
                                    position: relative;
                                    overflow: hidden;
                                    &::after {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        width: 100%;
                                        height: 1px;
                                        left: 0;
                                        top: 25px;
                                        background-color: black;
                                        transform: translateX(100%);
                                        transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                    }
                                }
                                &:hover {
                                    .img {
                                        img {
                                            transform: translateX(-5px);
                                        }
                                    }
                                    p {
                                        &::after {
                                            transform: translateX(0%);
                                        }
                                    }
                                }
                                .img {
                                    width: 25px;
                                    margin: 0 15px 0 0;
                                    img {
                                        width: 100%;
                                        transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                    }
                                }
                            }
                            .line {
                                width: 2px;
                                height: 20px;
                                background-color: black;
                                margin: 0 20px;
                            }
                            .next {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                p {
                                    font-family: "pronoreg2";
                                    font-size: 15px;
                                    line-height: 30px;
                                    letter-spacing: 0.02em;
                                    position: relative;
                                    overflow: hidden;
                                    &::after {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        width: 100%;
                                        height: 1px;
                                        left: 0;
                                        top: 25px;
                                        background-color: black;
                                        transform: translateX(-100%);
                                        transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                    }
                                }
                                &:hover {
                                    .img {
                                        img {
                                            transform: translateX(5px);
                                        }
                                    }
                                    p {
                                        &::after {
                                            transform: translateX(0%);
                                        }
                                    }
                                }
                                .img {
                                    width: 25px;
                                    margin: 0 0 0 15px;
                                    img {
                                        width: 100%;
                                        transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
                                    }
                                }
                            }
                        }
                    }
                }

                .line {
                    margin-top: 60px;
                    width: 100%;
                    height: 1px;
                    border: 1px solid black;
                }
                .floorplan__wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 450px 250px;
                    column-gap: 60px;
                    // row-gap: 20px;
                    .title {
                        font-size: 32px;
                        line-height: 30.5px;
                        font-family: "pronoreg2";
                        font-weight: bold;
                    }
                    .pricing {
                        width: 100%;
                        padding: 30px 20px;

                        .note {
                            margin: 25px 0;
                            font-size: 14px;
                            font-family: "pronoreg2";
                            line-height: 20px;
                            span {
                                font-weight: bold;
                            }
                        }
                        .table {
                            display: flex;
                            flex-direction: column;

                            .table__items {
                                display: flex;
                                &:nth-child(1) {
                                    border: 1px solid black;
                                }
                                border-right: 1px solid black;
                                border-left: 1px solid black;
                                border-bottom: 1px solid black;
                                .name {
                                    padding: 15px 0px 15px 60px;
                                    display: flex;
                                    // justify-content: center;
                                    align-items: center;
                                }
                                .price {
                                    padding: 15px 20px;
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                }
                            }
                        }
                    }
                    .floorplan {
                        width: 100%;
                        padding: 30px 20px;

                        .img {
                            position: relative;
                            margin-top: 90px;
                            width: 270px;
                            height: 270px;
                            img {
                                max-width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                            .client__area {
                                position: absolute;
                                right: 10%;
                                top: 10%;
                            }
                            .dimensions {
                                position: absolute;
                                bottom: 30%;
                                left: 15%;
                                color: #fff;
                            }
                            .text {
                                h3 {
                                    font-size: 12px;
                                    line-height: 20px;
                                    font-family: "pronoreg2";
                                    font-weight: bold;
                                }
                                p {
                                    font-size: 12px;
                                    line-height: 20px;
                                    font-family: "pronoreg2";
                                }
                            }
                            .client__area {
                            }
                        }
                    }
                    .content {
                        p {
                            font-family: "pronoreg2";
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                    .specs {
                        padding: 30px 20px;
                        .content {
                            margin: 25px 0;
                        }
                    }
                    .anothers {
                        padding: 30px 20px;
                        .content {
                            margin: 55px 0 25px 0;
                        }
                    }
                }

                .book-now {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn-book {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .img {
                            padding: 10px 0;
                            img {
                                width: 15px;
                                animation: animScrolldown 1.5s infinite;
                            }
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            padding: 25px 20px;
                            background-color: #525355;
                            border-radius: 12px;
                            p {
                                font-family: "pronobold";
                                font-size: 24px;
                                line-height: 31px;
                                color: #ffde00;
                                text-transform: uppercase;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes animPrevBtn {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes animNextBtn {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(0);
    }
}

@include tablet {
    body {
        .maindetailstudio {
            .maindetailstudio__wrapper {
                .container {
                    .info__detailstudio {
                        .info__wrapper {
                            .index {
                                padding: 0 10px;
                            }
                            .info__download {
                                display: none;
                            }
                            .info__dimens {
                                width: 180px;
                            }
                        }
                    }
                    .floorplan__wrapper {
                        .pricing {
                            .table {
                                .table__items {
                                    .name {
                                        width: 110px;
                                        padding: 15px 0px 15px 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin mobile {
    @media screen and (min-width: 320px) and (max-width: 768px) {
        @content;
    }
}

@include mobile {
    body {
        .maindetailstudio {
            .maindetailstudio__wrapper {
                .container {
                    .info__detailstudio {
                        .info__wrapper {
                            .index {
                            }
                            .info__download {
                            }
                            .info__dimens {
                            }
                        }
                    }
                    .floorplan__wrapper {
                        .pricing {
                            .table {
                                .table__items {
                                    .name {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
