body {
  width: 100%;
}

body .maindetailstudio {
  width: 100%;
  margin: 0;
}

body .maindetailstudio .maindetailstudio__wrapper {
  width: 100%;
}

body .maindetailstudio .maindetailstudio__wrapper .container {
  width: 100%;
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 25px 0;
  width: 100%;
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall p {
  font-family: "pronoreg2";
  font-size: 15px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall:hover .img .img1 {
  -webkit-transform: translate(-200%, -50%) scale(0);
          transform: translate(-200%, -50%) scale(0);
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall:hover .img .img2 {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall .img .img1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s cubic-bezier(0.95, 0.22, 0.03, 0.79);
  transition: 0.5s cubic-bezier(0.95, 0.22, 0.03, 0.79);
}

body .maindetailstudio .maindetailstudio__wrapper .container .backtoall__wrapper .backtoall .img .img2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(100%, -50%) scale(0);
          transform: translate(100%, -50%) scale(0);
  -webkit-transition: 0.5s cubic-bezier(0.95, 0.22, 0.03, 0.79);
  transition: 0.5s cubic-bezier(0.95, 0.22, 0.03, 0.79);
}

body .maindetailstudio .maindetailstudio__wrapper .container .image__detailstudio {
  width: 100%;
  height: 477px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .image__detailstudio .slider {
  width: 100%;
  height: 100%;
  position: relative;
}

body .maindetailstudio .maindetailstudio__wrapper .container .image__detailstudio .slider .slider__wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

body .maindetailstudio .maindetailstudio__wrapper .container .image__detailstudio .slider .slider__wrapper .slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .maindetailstudio .maindetailstudio__wrapper .container .image__detailstudio .slider .slider__wrapper .slider__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio {
  width: 100%;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .index {
  width: 160px;
  height: 100%;
  padding: 0 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .index .index__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffde00;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .index .index__wrapper p {
  font-family: "mypro";
  line-height: 20px;
  font-size: 14px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .index .index__wrapper h2 {
  font-family: "dinbold";
  font-size: 61px;
  line-height: 62px;
  letter-spacing: 0.04em;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__dimens {
  width: 220px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__dimens p {
  font-family: "pronoreg2";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download {
  width: 220px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download p {
  font-family: "pronoreg2";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  position: relative;
  overflow: hidden;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download p::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  background-color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download:hover p::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download:hover .img img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download .img {
  margin: 0 10px;
  width: 25px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__download .img img {
  width: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen {
  width: 160px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen p {
  font-family: "pronoreg2";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  position: relative;
  overflow: hidden;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen p::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  background-color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen:hover p::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen:hover .img img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen .img {
  margin: 0 10px;
  width: 25px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__fullscreen .img img {
  width: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev p {
  font-family: "pronoreg2";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  position: relative;
  overflow: hidden;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev p::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 25px;
  background-color: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev:hover .img img {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev:hover p::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev .img {
  width: 25px;
  margin: 0 15px 0 0;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .prev .img img {
  width: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .line {
  width: 2px;
  height: 20px;
  background-color: black;
  margin: 0 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next p {
  font-family: "pronoreg2";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  position: relative;
  overflow: hidden;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next p::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 25px;
  background-color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next:hover .img img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next:hover p::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next .img {
  width: 25px;
  margin: 0 0 0 15px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .info__detailstudio .info__wrapper .info__control .next .img img {
  width: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
  transition: 0.5s cubic-bezier(0.5, 0.39, 0, 0.98);
}

body .maindetailstudio .maindetailstudio__wrapper .container .line {
  margin-top: 60px;
  width: 100%;
  height: 1px;
  border: 1px solid black;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 450px 250px;
      grid-template-rows: 450px 250px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .title {
  font-size: 32px;
  line-height: 30.5px;
  font-family: "pronoreg2";
  font-weight: bold;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing {
  width: 100%;
  padding: 30px 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .note {
  margin: 25px 0;
  font-size: 14px;
  font-family: "pronoreg2";
  line-height: 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .note span {
  font-weight: bold;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .table .table__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .table .table__items:nth-child(1) {
  border: 1px solid black;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .table .table__items .name {
  padding: 15px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .pricing .table .table__items .price {
  padding: 15px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan {
  width: 100%;
  padding: 30px 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan .img {
  position: relative;
  margin-top: 90px;
  width: 270px;
  height: 270px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan .img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan .img .client__area {
  position: absolute;
  right: 10%;
  top: 10%;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan .img .dimensions {
  position: absolute;
  bottom: 30%;
  left: 15%;
  color: #fff;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan .img .text h3 {
  font-size: 12px;
  line-height: 20px;
  font-family: "pronoreg2";
  font-weight: bold;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .floorplan .img .text p {
  font-size: 12px;
  line-height: 20px;
  font-family: "pronoreg2";
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .content p {
  font-family: "pronoreg2";
  font-size: 14px;
  line-height: 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .specs {
  padding: 30px 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .specs .content {
  margin: 25px 0;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .anothers {
  padding: 30px 20px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .floorplan__wrapper .anothers .content {
  margin: 55px 0 25px 0;
}

body .maindetailstudio .maindetailstudio__wrapper .container .book-now {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .maindetailstudio .maindetailstudio__wrapper .container .book-now .btn-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .maindetailstudio .maindetailstudio__wrapper .container .book-now .btn-book .img {
  padding: 10px 0;
}

body .maindetailstudio .maindetailstudio__wrapper .container .book-now .btn-book .img img {
  width: 15px;
  -webkit-animation: animScrolldown 1.5s infinite;
          animation: animScrolldown 1.5s infinite;
}

body .maindetailstudio .maindetailstudio__wrapper .container .book-now .btn-book a {
  display: block;
  text-decoration: none;
  padding: 25px 20px;
  background-color: #525355;
  border-radius: 12px;
}

body .maindetailstudio .maindetailstudio__wrapper .container .book-now .btn-book a p {
  font-family: "pronobold";
  font-size: 24px;
  line-height: 31px;
  color: #ffde00;
  text-transform: uppercase;
  text-align: center;
}

@-webkit-keyframes animPrevBtn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animPrevBtn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes animNextBtn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animNextBtn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=studiodetail.css.map */