@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('./font/fonts/ProximaNovaA-Thin.woff2') format('woff2'),
        url('./font/fonts/ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('./font/fonts/ProximaNovaA-Bold.woff2') format('woff2'),
        url('./font/fonts/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'pronolight';
    src: url('./font/fonts/ProximaNova-Light.woff2') format('woff2'),
        url('./font/fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('./font/fonts/ProximaNovaA-Light.woff2') format('woff2'),
        url('./font/fonts/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'pronobold';
    src: url('./font/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('./font/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'pronoreg2';
    src: url('./font/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('./font/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNovaT-Thin.woff2') format('woff2'),
        url('ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'myprobold';
    src: url('./font/fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('./font/fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'mypro';
    src: url('./font/fonts/MyriadPro-BlackSemiCn.woff2') format('woff2'),
        url('./font/fonts/MyriadPro-BlackSemiCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'dinbold';
    src: url('./font/fonts/D-DINCondensed-Bold.woff2') format('woff2'),
        url('./font/fonts/D-DINCondensed-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'pronosemibold';
    src: url('./font/fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('./font/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

