@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('/font/ProximaNovaA-Thin.woff2') format('woff2'),
        url('/font/ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('/font/ProximaNovaA-Bold.woff2') format('woff2'),
        url('/font/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('/font/ProximaNovaA-Light.woff2') format('woff2'),
        url('/font/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/font/ProximaNova-Bold.woff2') format('woff2'),
        url('/font/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'pronoreg';
    src: url('/font/ProximaNova-Regular.woff2') format('woff2'),
        url('/font/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNovaT-Thin.woff2') format('woff2'),
        url('ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'myprobold';
    src: url('/font/MyriadPro-Bold.woff2') format('woff2'),
        url('/font/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'mypro';
    src: url('/font/MyriadPro-BlackSemiCn.woff2') format('woff2'),
        url('/font/MyriadPro-BlackSemiCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

